.psidebar {
  position: sticky;
  top: 32px;
  width: 250px;
  margin: 0 32px 0 0;

  .backLink {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    font-size: 15px;
    line-height: 22px;
    padding: 8px 16px;
    margin: 0 0 5px;
    background-color: #efefef;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
    color: #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    align-items: center;

    &:hover {
      background-color: #ddd;
    }

    .backLink-icon {
      font-size: 15px;
      line-height: 22px;
      width: 13px;
      margin: 0 10px 0 0;
    }
  }

  .filters {
    display: flex;
    flex-direction: column;

    .filterType {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 0 5px;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.1s ease-in-out;

      .typeDot {
        width: 8px;
        height: 8px;
        border-radius: 4px;
        margin: 16px;
      }

      .all {
        background: rgb(196, 196, 196);
      }

      .feature {
        background: #3069fe;
      }

      .improvment {
        background: #11d700;
      }

      .bugFix {
        background: #ff228c;
      }

      .integration {
        background: #ff9a00;
      }

      .filterLabel {
        font-size: 15px;
        line-height: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
    }
    .filterType.selected,
    .filterType:hover {
      background-color: #efefef;
    }
  }

  .attribution {
    padding: 12px 0 32px;

    .links {
      display: flex;
      flex-direction: row;
      // align-items: center;

      .link-label {
        color: #888;
        padding: 3px;
        font-size: 12px;
        line-height: 17px;
        transition: all 0.1s ease-in-out;
      }
      .link-label:hover {
        color: #666;
      }
      .link-separator {
        padding: 0 5px;
        color: #888;
        font-size: 12px;
        line-height: 17px;
      }
      .link-separator:last-child {
        display: none;
      }
      .link-separator:first-child {
        display: none;
      }
    }
  }
}

@media (max-width: 1020px) {
  .psidebar {
    display: none;
  }
}

@media (min-width: 781px) and (max-width: 1080px) {
}
