.forgotPassword {
  .navBar {
    float: left;
    padding: 25px;
    z-index: 50;
    position: relative;
    width: 50%;

    @media screen and (max-width: 800px) {
      width: 100%;
    }
  }

  .columnsWrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 230px 0px;
    overflow: hidden;

    @media screen and (max-width: 800px) {
      height: 100%;
      width: 100%;
      position: inherit;
      padding: 0px;
      overflow: hidden;
    }
  }

  .leftColumn {
    position: absolute;
    width: 50%;
    left: 0px;
    height: 100%;
    top: 0px;
    @media screen and (max-width: 800px) {
      position: inherit;
      width: 100%;
      height: auto;
    }
  }

  .rightColumn {
    position: absolute;
    width: 50%;
    right: 0px;
    height: 100%;
    background-color: #fff9fc;
    top: 0px;
    border-left: solid 1px #fbf3fd;
    @media screen and (max-width: 800px) {
      display: none;
    }

    ::before {
      content: "";
      height: 1100px;
      width: 1000px;
      position: absolute;
      left: -110px;
      top: -110px;
      bottom: 0px;
      background-repeat: no-repeat;
      background-position: top 10px left;
      background-image: url(../../../../images/icons/common/home-gradient-background.svg);
      z-index: 40;
      background-size: cover;
      padding-left: 100px;
    }
    .rightColumnInner {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      padding-left: 120px;
    }
    img {
      width: auto;
      height: 80vh;
      z-index: 500;
      position: relative;
    }
    @media screen and (max-width: 1140px) {
      img {
        width: auto;
        height: 70vh;
      }
    }
  }

  .forgotPasswordWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 108px 40px;
    max-width: 540px;
    margin: 0 auto;
    border-radius: 5px;
    box-sizing: border-box;
    @media screen and (max-width: 800px) {
      width: 100%;
      padding: 30px 0px 90px 0px;
    }

    .noticeMessage {
      color: #6E41E2;
      background-color: #F4EFFF;
      // color: #fd228c;
      // background-color: #ffeff7;
      padding: 14px 18px 13px 18px;
      border-radius: 9px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      float: left;
      width: 100%;
      margin-bottom: 17px;
    }
    .forgotPasswordHeader h1 {
      float: left;
      width: 100%;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 41px;
      letter-spacing: -0.264px;
      color: #000000;
    }
    .forgotPasswordHeader p {
      float: left;
      width: 100%;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: -0.264px;
      color: #9a9dab;
      margin-top: 5px;
    }

    .textLink {
      justify-content: center;
      align-items: center;
    }

    .muiCard {
      border-radius: 8px;
      padding: 32px;
    }

    .gridItem {
      margin: 0 0 20px;
    }

    .authButtons {
      display: flex;
      flex-direction: column;
      align-items: stretch;

      .authButton {
        margin: 0 0 20px;
      }
    }

    .authButton {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #fff;
      border: 1px solid #ddd;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.1s ease-in-out;
      min-width: 230px;
      min-height: 50px;
      font-style: normal;
      font-weight: 500;
      font-size: 16.5px;
      line-height: 20px;
      text-transform: none;
    }

    .submitButton {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #fff;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.1s ease-in-out;
      min-width: 230px;
      min-height: 50px;
      font-style: normal;
      font-weight: 500;
      font-size: 16.5px;
      line-height: 20px;
      text-transform: none;
    }

    .divider {
      width: 100%;
      margin: 10px 0;
      color: #666;
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 30px;
    }

    .fullWidth {
      width: 100%;
    }

    .textField {
      align-items: stretch;
      width: 100%;
      margin: 0 0 17px;
      height: 50px;
    }
  }
}
