.markdown-previw {
  table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
  }
  th, td{
    border: 1px solid #EAECEC;
    padding: 5px;
  }

  img {
    border: 2px solid #EAECEC;
    border-radius: 25px;
  }
}
