.stagegraph {
  .react-flow__node-customNode {
    font-size: 12px;
    background: #eee;
    border: 1px solid #555;
    border-radius: 5px;
    text-align: center;
  }
  .react-flow__attribution {
    display: none;
  }
}
